{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>메뉴</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Eatery</li>
      </ol>
    </div>

  </div>
</div><!-- End Breadcrumbs -->
<section class="sample-page">
  <div class="container" data-aos="fade-up">
<!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-blog-posts" class="recent-blog-posts">
    <div class="container" data-aos="fade-up">
      {% if eatery %}
      <a href="{% url 'Eatery:eatery_create' group_pk %}" class="btn btn-warning" style="float: right;">음식점 추가하기</a>
      {% endif %}
      <a href="{% url 'Eatery:group_manage' %}" class="btn btn-outline-dark">돌아가기</a>
      <div class="section-header">
        <h2>Eatery</h2>
        <p>음식점들의 후기를 써보세요</p>
      </div>
      <div class="row">
      {% if eatery %}
        {% for e in eatery %}
        <div class="col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="200">
          <div class="post-box">
              <div class="post-img">
                {% if e.image  %}
                <img src="{{e.image.url}}" class="img-fluid" alt="">
                {% elif e.crawling_image %}
                <img src="/{{e.crawling_image}}" class="img-fluid" alt=""> 
                {% else %}
                <img src="{% static 'assets/img/home.png' %}" class="img-fluid" alt="">
                {% endif %}
              </div>
              <h3 class="post-title">{{e.eatery_name}}</h3>
              <div class="meta">
                <span class="post-author">{{e.eatery_type}}</span>
              </div>
              <a href="{% url 'Eatery:eatery_detail' e.pk %}" class="readmore stretched-link"><span>자세히 보러가기</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <div class="text-center gy-5 gx-lg-5 mt-5 form-control" style="padding:50px;">
        <p class="form-text" style="font-size:large">
          등록된 음식점이 없어요..
        </p>
        <p class="form-text">
          {% comment %} (등록된 음식점이 없는 테마는 음식점 고르기에서 제외됩니다) {% endcomment %}
        </p>
        <a href="{% url 'Eatery:eatery_create' group_pk  %}" class="btn btn-warning btn-lg mt-3">등록하기</a>
      </div>
      {% endif %}
      </div>
    </div>
  </section><!-- End Recent Blog Posts Section -->
</div>
</section>
{% endblock content %}
