<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<div class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>테마 추가</h2>
            <ol>
                <li><a th:href="@{/}">Home</a></li>
                <li>Add Group</li>
            </ol>
        </div>
    </div>
</div><!-- End Breadcrumbs -->

<section class="inner-page">
    <div class="container" data-aos="fade-up">
        <section id="contact" class="contact">
            <div class="container">
                <a href="" type="button" class="btn btn-outline-dark" style="">돌아가기</a>
                <div class="section-header">
                  <p>사용자들이 알기 쉽게 테마를 소개해주세요.</p>
                </div>
            </div>
        
            <div class="container">
                <form action="/eatery/group-create" method="post" role="form" id="group_form" enctype="multipart/form-data" class="php-email-form">
                    <div class="row" id="input">
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="name" id="name" data-rule="minlen:1" placeholder="이름을 작성해 주세요">
                            <div id="name_error"></div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="location" id="location" data-rule="minlen:1" placeholder="식당들이 있는 주요지역을 작성해주세요">
                            <div id="location_error"></div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="comment" id="comment" data-rule="minlen:1" placeholder="간단한 테마 소개를 작성해주세요">
                            <div id="comment_error"></div>
                        </div>
                    </div>
                </form>
                <div class="row gy-5 gx-lg-5 mt-3">
                    <div class="text-center mt-5"><button type="button" id="btn_submit" class="btn btn-warning btn-lg">다음</button></div>
                </div>
            </div>
        </section><!-- End Contact Section -->
    </div>
</section><!-- End Inner Page -->
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/eatery/group_create.js}"></script>
</th:block>
</html>
