<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>메뉴</h2>
                <ol>
                    <li><a th:href="@{/}">Home</a></li>
                    <li>Choice</li>
                </ol>
            </div>

        </div>
    </div>
    <section class="sample-page">
        <div class="container" data-aos="fade-up">
            <section id="recent-blog-posts" class="recent-blog-posts">
                <div class="container" data-aos="fade-up">
                    <a th:href="@{/eatery-group/group-create}" type="button" class="btn btn-warning" style="">테마 추가하기</a>
                    <div class="section-header">
                        <h2>Choice</h2>
                        <p>어느 테마로 가시겠어요?</p>
                        <p><small>* 공유 테마는 모든 사용자들이 자유롭게 음식점을 추가 할 수 있는 테마입니다</small></p>
                    </div>
                    <div class="row">
                        <th:block th:if="${groups.size() > 0}">
                            <div th:each="group : ${groups}" class="col-lg-4 mb-5" data-aos="fade-up"
                                 data-aos-delay="200" id="group_box" style="margin:12px;">
                                <div class="post-box">
                                    <div class="mt-2">
                                    <span class="post-title" th:text="${group.getGroupName()}"></span><h4 th:if="${group.getOpenFlag() == 1}" class="badge bg-success" style="vertical-align: middle;margin-left: 5px;">공유 테마</h4>
                                    </div>
                                    <p th:text="${group.getGroupLocation()}" class="form-text"></p>
                                    <p th:text="${group.getGroupComment()}" class="form-text"></p>
                                    <a th:href="@{/eatery/eatery-manage/{groupId}(groupId = ${group.getId()})}" class="readmore stretched-link"><span>등록된 메뉴 보러가기</span><i
                                            class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:unless="${groups.size() > 0}">
                            <div class="text-center gy-5 gx-lg-5 mt-5 form-control" style="padding:50px;">
                                <p class="form-text" style="font-size:large">
                                <p>등록된 테마가 없습니다..</p>
                                <p>테마를 생성해 보세요!</p>
                            </div>
                        </th:block>
                    </div>
                </div>
            </section>
        </div>
    </section>
</th:block>
<th:block layout:fragment="css">
<style>
    #group_box{
        width:300px;
        height:175px;
        border:1px solid orange;
        box-shadow: 5px 5px 5px lightgray;
    }
</style>
</th:block>
</html>