{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    lable{
       border:2px solid lightgray; 
       border-radius: 5px;
    }
    label{
        border:4px solid lightgray;
        border-radius: 5px;
        width:90px;
        height:70px;
        text-align:center;
        margin:40px;
        padding:1.2em;
    }
    input[type="checkbox"]:checked + label {
        border-color : rgb(232,122,68);
        color:rgb(232,122,68);

    }
    input[type="checkbox"]{
        display:none;
    }

    #select{
        border:2px solid lightgray;
        margin:20px;
    }
    #txt_location_section{
        border:1px solid rgb(232,122,68);
        text-align:center;
    }
    #txt_location{
        color:rgb(232,122,68);
    }
</style>
<section class="sample-page">
    <div class="container" data-aos="fade-up">
        <!-- ======= Recent Blog Posts Section ======= -->
        <section id="recent-blog-posts" class="recent-blog-posts">
            <div class="container" data-aos="fade-up">
                <a href="{% url 'Eatery_selection:group_select' %}" class="btn btn-outline-dark">뒤로가기</a>
                <div class="section-header">
                    <h2>Option</h2>
                    <p>옵션을 선택해 주세요.</p>
                </div>
                <form action="{% url 'Eatery_selection:eatery_select' %}" method="get" id="option_form" rol="form" enctype="multipart/form-data" class="php-email-form">
                    <div class="row" style="text-align:center;">
                        종류
                        <div class="form-control mb-5" style="margin-top:20px;" id="checkbox_section">
                            <input type="checkbox" id="all" name="all" value="all" onclick="selectAll(this);">
                            <label for="all">전체</label>
                            
                            <input type="checkbox" id="korean" name="eatery_type" value="한식" onclick="checkSelectAll(this);">
                            <label for="korean">한식</label>

                            <input type="checkbox" id="western" name="eatery_type" value="양식" onclick="checkSelectAll(this);">
                            <label for="western">양식</label>

                            <input type="checkbox" id="chinese" name="eatery_type" value="중식" onclick="checkSelectAll(this);">
                            <label for="chinese" >중식</label>

                            <input type="checkbox" id="japanese" name="eatery_type" value="일식" onclick="checkSelectAll(this);">
                            <label for="japanese">일식</label>

                            <input type="checkbox" id="etc" name="eatery_type" value="기타" onclick="checkSelectAll(this);">
                            <label for="etc">기타</label>
                        <div id="check_error"></div>
                        </div>
                        식당 위치
                        <p class="form-text">
                            * 식당 위치를 설정하지 않으면 모든 지역 범위에서 검색 됩니다.
                        </p>
                        <div class="form-control" style="margin-top:20px;padding:30px;" id="input_section">
                            <input type="text" id="eatery_location" name="eatery_location" class="form-control" data-url="{% url 'Eatery_selection:get_group_location' %}" placeholder="주소를 입력해 주세요&nbsp&nbsp&nbsp(Enjo_eat에 등록된 주소에서 검색됩니다)">
                        </div>
                    </div>
                </form>
                <div class="mt-3" id="search_result"></div>
                <div style="text-align:center;margin:50px;">
                    <button id="btn_start" class="btn btn-warning btn-lg" style="width:150px;">다음</button>
                </div>
            </div>
        </section><!-- End Recent Blog Posts Section -->
    </div>
</section>
{% endblock content %}
{% block script %}
<script src="{% static 'eatery_selection/js/group_all_select.js' %}"></script>
{% endblock script %}