<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headerFragment">
        <header id="header" class="header fixed-top" data-scrollto-offset="0">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <a href="#" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <!-- <img src="assets/img/logo.png" alt=""> -->
                    <h1>Enjo_eat<span>.</span></h1>
                </a>
                <div style="float: right;margin-right:50px;" class="">
                    회원 님 환영합니다 😀&nbsp;&nbsp;&nbsp;
                    <a href="">로그아웃</a>
                </div>
<!--                <div style="float: right;margin-right:50px;" class="">-->
<!--                    <a href="">로그인</a>-->
<!--                </div>-->
            </div>
        </header><!-- End Header -->
    </div>
</html>