<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<div class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Login</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>login</li>
            </ol>
        </div>

    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section class="inner-page">
    <div class="container">
        <div class="card">
            <div class="card-body" style="padding:50px;">
                <div class="pt-4 pb-2" data-aos="fade-up">
                    <h5 class="card-title text-center pb-0 fs-4">로그인</h5>
                    <p class="text-center small">아이디와 비밀번호를 입력해 주세요.</p>
                </div>

                <form action="/security/login" method="post" role="form" id="login_form" class="php-email-form">
                    <div class="mb-5">
                        <div class="form-group mb-3">
                            <div class="form-text">아이디 : </div>
                            <div class="mt-2 mb-2">
                                <input type="text" class="form-control" name="userid" id="userid" placeholder="아이디를 입력해주세요">
                            </div>
                            <div id="userid_error"></div>
                        </div>
                        <div class="form-group">
                            <div class="form-text">비밀번호 : </div>
                            <div class="mt-2 mb-2">
                                <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호를 입력해주세요">
                            </div>
                            <div id="password_error"></div>
                        </div>
                        <div style="text-align:center;" class="mt-5">
                            <div id="login_error"></div>
                            <input type="button" onclick="login();" id="btn_login" class="btn btn-warning" style="color:white;width:150px;height:50px" value="로그인">
                        </div>
                        <p class="form-text">아이디가 없다면?&nbsp;&nbsp;&nbsp;<a href="">회원가입 하러가기</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Inner Page -->
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/auth/login.js}"></script>
</th:block>
</html>
